---
import { Markdown } from "./Markdown";
---

<main class="bg-gradient-to-r from-cyan-500 to-blue-500 dark:from-cyan-900 dark:to-blue-900 min-h-screen flex items-center justify-center pt-28 pb-14">
    <Markdown client:load />
</main>