---
 import Footer from "../components/footer.astro";
import { Header } from "../components/Header";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://file.myfontastic.com/xSqABvTUTuM3BKXevKN7LQ/icons.css" rel="stylesheet">
		<title>{Astro.props.title}</title>
	</head>
	<body class="font-sans">
		<Header client:only/>
		<div>
			<slot/>
		</div>
		<Footer/>
	</body>
</html>
