---
import Footer from "../components/footer.astro";
import { Header } from "../components/Header";
import "../assets/style/main.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="font-sans">
		<Header client:only/>
		<div>
			<slot/>
		</div>
		<Footer/>
		<script>
			import "../assets/js/redux"
		</script>
	</body>
</html>
